DEBUG_MODE=true

ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_ACCOUNTS_URL=https://accounts.zoho.com
ZOHO_API_BASE=https://www.zohoapis.com
ZOHO_MODULE=Sheds

GOOGLE_MAPS_API_KEY=

OPENWEATHER_API_KEY=

IMD_API_KEY=
IMD_EMAIL=
IMD_PASSWORD=

CLUSTER_MODE= #village/taluk/distance

PILOT_MODE=true
PILOT_VILLAGES=KISHANNAGAR,SADISOPUR

WATI_BASE_URL=
WATI_API_TOKEN=
WATI_TEMPLATE_NAME=weather_advisory_v1

RND_WATI_API_URL=
RND_WATI_API_KEY=
RND_WATI_TEMPLATE_NAME=weather_api_rnd_testing

DATABASE_URL=

TEST_DATABASE_URL=
